* {
  box-sizing: border-box;
}

html,
body {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #fbfbfb;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.empty-btn:hover a {
  color: #ffffff;
}

.fa-phone:before {
  content: "\f095";
  color: #0eebe6;
}

.fa-envelope:before {
  content: "\f0e0";
  color: #0eebe6;
}

.fa-map-marker-alt:before {
  content: "\f3c5";
  color: #0eebe6;
}

/*----------------------
	b. Header
----------------------*/

#homeHeader {
  background-image: url("../images/H.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  padding-bottom: 4rem;
}

/*Those are used for standard page headers*/

#headerSmall {
  /*background-image: url("../images/H.jpg");*/
  background: black;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  padding-bottom: 1rem;
}

.pageTitle {
  margin: 1rem auto;
  position: relative;
}

.pageTitle h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  margin-top: 0;
  border-left: 4px solid #cc5200;
  padding-left: 1rem;
}

/* LOGO & MENU*/

#logo {
  font-size: 2.8rem;
  text-align: center;
  text-rendering: optimizeLegibility;
  display: inline-block;
  color: white;
  font-family: "Pacifico", cursive;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.active a {
  color: #0eebe6 !important;
  font-weight: 700 !important;
}

.menu a {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem;
  color: white;
  transition: 0.4s;
}

/*by default on mobile the navigation isn't visible*/

.menu li {
  display: none;
  color: black;
}

.menu .icon {
  order: 99;
  display: block;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
}

.menu.menuOpen {
  position: fixed;
  width: 80%;
  left: 11%;
  top: 4.5rem;
  flex-direction: column;
  background-color: #161415;
  border-radius: 1rem;
  margin: 0.5rem auto;
  z-index: 1;
}

/*moving the hamburger icon to the top-right corner*/

.menu.menuOpen .icon {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  text-shadow: none;
}

.menu.menuOpen li {
  display: block;
  text-align: center;
  border-bottom: 1px solid #2d2e34;
  border-bottom-style: dotted;
  margin: 0.5rem;
}

.menu.menuOpen a {
  color: white;
}

/*the search anchor*/

#search-icon input {
  display: none;
  transition: 0.4s;
}

#search-icon:hover input,
#search-icon:focus input,
#search-icon:active input,
#search-icon input:focus {
  font-size: 1rem;
  font-weight: 500;
  width: 9.33rem;
  display: inline-block;
  margin-left: 0.5rem;
  color: black;
  text-align: right;
  text-shadow: 0 0 1px black;
  cursor: pointer;
  border: 3px solid#0eebe6;
  border-radius: 20px;
  outline: 0;
  position: relative;
}

/*Hotel Hilton Text*/

#travelStyle {
  margin: 4rem auto;
  width: 80%;
  position: relative;
}

#travelStyle h1 {
  color: #0eebe6;
  font-weight: 500;
  margin-top: 0;
}

#travelStyle p {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

/*----------------------
	c. About 
----------------------*/

#about {
  background-color: #ffffff;
  margin: 5rem auto 0 auto;
  border: 1px solid #bfbfbf;
  -moz-box-shadow: 15px 13px 5px rgba(170, 170, 170, 0.5);
  -webkit-box-shadow: 15px 13px 5px rgba(170, 170, 170, 0.5);
  box-shadow: 15px 13px 5px rgba(170, 170, 170, 0.5);
  width: 80%;
  border-radius: 1rem;
}

#about img {
  width: 100%;
  border-bottom: 1px solid gray;
  background-position: center center;
}

#about h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #0eebe6;
}

#about-text {
  padding: 1rem;
  color: black;
}

/*About page*/

.fullPageHeader {
  background-image: url("../images/H.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.centeredTitle h1 {
  margin-top: 25vh;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  color: black;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.who-are {
  padding: 2% 5%;
}

.who-are p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #939393;
}

.centeredTitle {
  text-align: center;
}

.centeredTitle h1 {
  display: inline-block;
  margin: 25vh auto 0 auto;
  padding: 1rem;
}

/*----------------------
	d. Services
----------------------*/

#services {
  text-align: center;
  background-color: #ffffff;
  padding: 5%;
}

#services img {
  width: 35%;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 50%;
  object-fit: contain;
}

.sml-h2 {
  color: #212121;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  text-align: center;
}

#services div {
  margin: 1% 12.5%;
}

.sml-h3 {
  margin: 0.4rem;
  font-weight: 850 !important;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  color: #03224c;
}

.sml-p {
  color: #9e9e9e;
  font-weight: 300;
}

/*-------------------------
	e. Vacations
-------------------------*/

/*we use flex to make the rows responsive*/

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem !important;
}

.flex-item-max4,
.flex-item-max3,
.flex-item-max2 {
  margin: 1.5rem 5%;
}

.flex-wrapper img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

#vacations {
  background-color: #ffffff;
  background-image: radial-gradient(
    circle 514px at 48.8% 4.8%,
    rgba(255, 255, 255, 1) 43.4%,
    #0eebe6 99.5%
  );
  padding-top: 1rem;
  padding-bottom: 5rem;
}

/*Vacations Page*/

.text-image {
  padding: 5%;
}

.text-image img {
  width: 100%;
  margin: 2rem auto;
}

.text-image p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #939393;
}

.vacations-wrapper {
  display: flex;
  flex-direction: row;
  width: 95%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
  justify-content: center;
}

.vacation-item {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.vacation-item img {
  width: 40%;
  height: 100% !important;
  display: inline-block;
  object-fit: cover;
  flex: 1;
}

.vacation-text {
  display: inline-flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  width: 60%;
}

.vacation-text div {
  display: inline-flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
}

.vacation-text p {
  display: none;
}

.vacation-mob-btn {
  background: transparent;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.vacation-mob-btn:hover {
  color: #0eebe6;
}

/*hidding the view more btn*/

.vacation-text button:not(.vacation-mob-btn) {
  display: none;
}

.sidebar {
  display: none;
}

/*-------------------------
	f. Hotels
-------------------------*/

#hotels {
  padding-bottom: 4rem;
  background-color: #f0f0f0;
}

.single-hotel {
  background-color: #ffffff;
  padding-bottom: 1.5rem;
}

.txt-padding {
  padding: 5%;
}

/*making the line effect*/

.hotel-price {
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0.1em;
  margin: 3rem;
}

.hotel-price span {
  background: #fff;
  padding: 0 0.8rem;
  color: #212121;
}

/*----------------------
	h. Newsletter
----------------------*/

#subscribe {
  padding: 2% 5%;
  color: #ffffff;
  text-align: center;
  background-color: black;
}

#subscribe p {
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  font-weight: 500;
}

#subscribe form input {
  width: 80%;
  padding: 0.8rem;
  border-radius: 2rem;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  border: 2px solid white;
  outline: 0;
}

#subscribe form input::placeholder {
  color: white;
  font-size: 1.2rem;
}

/*----------------------
	i. Contact Page
----------------------*/

.contact-section {
  background-color: white;
}

.contact-intro {
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 500;
  color: #9e9e9e;
  background-color: white;
}

#map {
  width: 90%;
  height: 400px;
  background-image: url("../images/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5rem auto;
}

.contact-form {
  padding: 5% 5% 5rem 5%;
}

/* Style inputs */

.contact-form input[type="text"],
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 1rem;
  resize: vertical;
}

.contact-buttons {
  padding: 5%;
  text-align: center;
}

.contact-buttons div {
  margin: 4%;
  color: white;
}

.contact-buttons i {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #0eebe6;
}

/*----------------------
	j. Footer
----------------------*/

footer {
  text-align: center;
  padding-top: 1rem;
}

footer h2 {
  margin: 0;
  padding-top: 3rem;
  color: #7f7f7f;
  font-weight: 500;
}

/*social links*/

.social-btn {
  padding: 0.5rem;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook,
.fa-twitter,
.fa-google,
.fa-instagram,
.fa-pinterest,
.fa-reddit,
.fa-tublr,
.fa-snapchat-ghost {
  color: #7f7f7f;
  transition: background-color 500ms linear;
}

.fa-facebook:hover {
  background-color: #3b5998;
  color: white;
}

.fa-google:hover {
  background-color: #dd4b39;
  color: white;
}

.fa-twitter:hover {
  background-color: #55acee;
  color: white;
}

.fa-instagram:hover {
  background-color: #125688;
  color: white;
}

.fa-pinterest:hover {
  background-color: #cb2027;
  color: white;
}

.fa-reddit:hover {
  background-color: #ff5700;
  color: white;
}

.fa-snapchat-ghost:hover {
  background-color: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.social {
  text-align: center;
}

.social-list li {
  display: inline-block;
  margin: 0.5rem;
}

/*footer navigation*/

.footer-nav li {
  display: inline-block;
  margin: 0.5rem 0.2rem;
}

.footer-nav .primary li a {
  color: #7f7f7f;
  font-size: 1.3rem;
  font-weight: 400;
}

.footer-nav .secondary li a {
  color: #7f7f7f;
  font-size: 1rem;
  font-weight: 400;
}

.footer-nav .primary li a:hover,
.footer-nav .secondary li a:hover {
  color: #0eebe6;
}

.copyright {
  margin-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
}

/*-------------------------
	k. Buttons/Interaction/Shadows
---------------------------*/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.bent-shadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.bent-shadow:before,
.bent-shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.bent-shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.bring-to-front {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bring-to-front:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.3);
}

.big-black-btn {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  color: #0eebe6;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
  letter-spacing: 0.15rem;
  border: 0;
  transition: 0.4s;
  cursor: pointer;
  position: absolute;
}

.big-black-btn:hover {
  font-size: 1.3rem;
}

.no-focus:focus {
  outline: 0;
}

.sml-text-btn {
  color: black;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  border-bottom: 1.5px solid #212121;
  letter-spacing: 0.15rem;
  padding-bottom: 0.4rem;
}

.sml-text-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-weight: 700;
}

.sml-text-btn span:after {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  position: absolute;
  opacity: 0;
  color: black;
  font-size: 1rem;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sml-text-btn:hover span {
  padding-right: 25px;
}

.sml-text-btn:hover span:after {
  opacity: 1 !important;
  right: 0;
}

.white-color {
  color: white;
}

#toTop-btn {
  display: none;
  background-color: black;
  font-size: 1.5rem;
  padding: 0.4rem 0.8rem;
  text-align: center;
  border: 0;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 999;
}

#toTop-btn:hover {
  cursor: pointer;
  background-color: #0eebe6;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.square-to-round-btn {
  display: inline-block;
  color: #ffffff !important;
  text-transform: uppercase;
  background: #212121;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #212121 !important;
  border-radius: 6px;
  margin-right: 7%;
  float: right;
}

.square-to-round-btn:hover {
  border-radius: 4rem;
  border-color: #212121 !important;
  transition: all 0.4s ease 0s;
}

.empty-btn {
  padding: 0.8rem 1.3rem;
  border: 0.1rem solid #212121;
  margin: 0 0.3rem;
  border-radius: 0.5rem;
  font-weight: 400;
  color: #212121;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.4s;
}

.empty-btn:hover {
  color: #ffffff;
  background-color: #212121;
}

.white-rounded-btn {
  border: 0;
  padding: 0.7rem;
  border-radius: 3rem;
  font-weight: 500;
  background-color: #ffffff;
  margin-top: 0.8rem;
  font-size: 1.3rem;
  transition: all 0.4s;
}

.white-rounded-btn:hover {
  border: 2px solid #ffffff;
  padding: 0.58rem;
  background-color: #0eebe6;
  color: #ffffff;
}

.bring-to-front-horiz {
  transition: 0.5s all ease;
  transform: rotateX(20deg) scale(0.9);
  perspective: 700px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

.bring-to-front-horiz:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: 0.5s all ease;
  z-index: 400;
}

@keyframes entry {
  0% {
    top: -50%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  font-size: 3rem;
  color: white;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
